doctype html
html
  head
    meta(charset="UTF-8")
    title= "Chèvre land"
    link(rel="stylesheet" href="public/css/style.css")
    link(rel="stylesheet" href="public/css/billet2.css")

  body
    header
      h1 Le pays de la chèvre
      a(href="/")
        img(src="public/img/pixelgoat.png", alt="pixel goat")

    main
      h2 Valeurs sûres en matière de nourriture chèvrières
      ul
        -  for (var x = 1; x < 11; x++)
          li
            a(href="public/img/goatfood" + x + ".jpg")
              img(src="public/img/goatfood" + x + ".jpg", alt="goat food")
