body
  background-image: url("../img/goats.png")
  background-size: cover
  background-repeat: no-repeat

  font-family: "Lucida Console","Lucida Sans Typewriter","monaco","Bitstream Vera Sans Mono","monospace"

header
  background-color: white
  background-image: url("../img/wheat.jpg")
  background-size: cover
  background-repeat: no-repeat
  position: fixed
  top: 0
  left: 0
  height: 8%
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

  h1
  	font-size: 4vh
  	font-style: normal
  	font-variant: normal
  	font-weight: 500
  	line-height: 26.4px
		margin-left: 1%
		margin-right: 2%

  a
    margin-right: 20px

    img
      height: 40%
      width: 40%
